a {
  text-decoration: none !important;
  color: #000;
}

/*SStyle Navbar*/
.upperNav {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.upperNav .login img {
  margin: 0 10px;
}

.upperNav .login button {
  background: none;
  padding: 5px 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  color: rgba(0, 0, 0, 0.6) !important;
  text-transform: uppercase;
}

@media all and (max-width: 769px) {
  .upperNav .login button {
    padding: 5px 10px;
  }
}

/*End Style Upper nav*/
/*********************Start Footer Style*******************/
footer {
  background: #132a2f;
  padding-bottom: 20px;
}

footer .Tags {
  border-bottom: 1px solid #0000004d;
  padding: 30px 0;
}

footer .Tags .tag {
  color: #fff;
  background: #0000004d;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  padding: 10px 13px;
  margin: 10px 0;
  font-size: .8125rem;
  font-weight: 700;
  width: 160px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

footer .Tags .tag a {
  color: #fff;
}

footer .Tags .tag a:hover {
  color: #fff;
}

@media all and (max-width: 769px) {
  footer .Tags .tag {
    width: 120px;
    font-size: 10px;
  }
}

footer .Tags .tag:hover {
  background: #2eb3b7;
  -webkit-transition: all .5s ease-in-out !important;
  transition: all .5s ease-in-out !important;
  -webkit-box-shadow: 0 0 5px 0 #797777 !important;
          box-shadow: 0 0 5px 0 #797777 !important;
}

footer .Tags .row .col-4 {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottomFooter .left a {
  color: #fff;
  margin: 0 10px;
  font-size: 13px;
}

footer .bottomFooter .right a {
  color: #797777;
  margin: 0 10px;
  font-size: 13px;
}

footer .bottomFooter .right .colored {
  color: #2eb3b7;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

footer .bottomFooter .right .colored:hover {
  color: #fff;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

/*********************End Footer Style*******************/
/*************************Start Service Page Style********** *************/
.url {
  margin: 15px 0;
}

.url a, .url svg {
  color: #797777;
}

.headerService {
  background: url("https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/images/uploads/services/1552580042shutterstock_772636024.jpg");
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

.headerService::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.headerService .title {
  z-index: 9999;
  position: absolute;
  bottom: 10%;
  width: 400px;
}

@media all and (max-width: 769px) {
  .headerService .title {
    width: 91%;
  }
}

.headerService .title h1 {
  font-weight: 700;
}

.headerService .title button {
  padding: 5px 20px;
  border: none;
  background: #2eb3b7;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  font-weight: 500;
}

.headerService .title button:hover {
  background: #797777;
}

.Details {
  padding: 30px 0;
}

.Details h1 {
  font-weight: 700;
}

.Details p {
  color: #797777;
}

/*************************End Service Page Style********** *************/
/*********************Start Login Model Style*******************/
#LoginModel .modal-content {
  max-width: 400px;
}

#LoginModel .modal-body form h6 {
  color: #797777;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

#LoginModel .modal-body form .group {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}

#LoginModel .modal-body form .group input {
  border: none;
  outline: none;
}

#LoginModel .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#LoginModel .modal-footer .btn {
  padding: 5px 20px;
  border: none;
  background: #2eb3b7;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  width: 150px;
}

/*********************End login Style*******************/
/*Some style for Carprt service Bookgin */
.carpet .left .Size-Type .size, .curtain .left .Size-Type .size {
  margin: 18px 0;
}

.carpet .left .Size-Type .size p, .curtain .left .Size-Type .size p {
  margin: 0 15px !important;
}

.carpet .left .Size-Type .size input, .curtain .left .Size-Type .size input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  /* Chrome, Safari, Edge, Opera */
}

.carpet .left .Size-Type .size input::-webkit-outer-spin-button, .carpet .left .Size-Type .size input::-webkit-inner-spin-button, .curtain .left .Size-Type .size input::-webkit-outer-spin-button, .curtain .left .Size-Type .size input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.carpet .left .Size-Type .size input:focus, .curtain .left .Size-Type .size input:focus {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: 1px solid #2eb3b7;
}

.carpet .left .Size-Type .Err, .curtain .left .Size-Type .Err {
  display: none;
}

/*Title Function*/
/*Start Style Navbar*/
.upperNav {
  background: #fff;
}

/****************Start Style Frequancy*****************************/
.Frequancy {
  background: #eff3f5;
  padding: 20px 0;
}

.Frequancy .selectAddress h6 {
  color: #132a2f;
  text-transform: uppercase;
  cursor: pointer;
}

.Frequancy .selectAddress svg {
  margin: 0 5px;
}

.Frequancy .booking-steps {
  width: 100%;
  height: 45px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
  border-radius: 5px;
  overflow: hidden;
}

.Frequancy .step {
  height: 45px;
  color: #000;
  background: #d0cdcd;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.Frequancy .step-label {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  line-height: 1rem;
  padding-left: 5px;
  font-size: 12px;
}

.Frequancy .step-position {
  color: white;
  width: auto;
  min-width: 34px;
  height: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 4px;
}

.Frequancy .step-position::before {
  content: '';
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background: #2eb3b7;
  position: absolute;
  top: 6px;
  z-index: 0;
  border: 1px solid #ddd;
}

.Frequancy .step-number {
  font-size: 14px;
  z-index: 1;
}

.Frequancy .step-check {
  display: none;
  z-index: 1;
  font-size: 22px;
}

.Frequancy .step-arrow {
  border-left: 18px solid #d0cdcd;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  background: #fff;
}

.Frequancy .step.--completed {
  background: #cfcccc;
}

.Frequancy .step.--completed .step-check {
  display: block;
}

.Frequancy .step.--completed .step-number,
.Frequancy .step.--completed .step-label,
.Frequancy .step.--completed .step-arrow {
  display: none;
}

.Frequancy .step.--completed .step-position {
  color: white;
}

.Frequancy .step.--completed .step-position:before {
  background: #2eb3b7;
}

.Frequancy .step.--current {
  background: #cfcccc;
}

.Frequancy .step.--current .step-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Frequancy .step.--current .step-number,
.Frequancy .step.--current .step-arrow {
  display: block;
}

.Frequancy .step.--current .step-check {
  display: none;
}

.Frequancy .step.--current .step-position {
  color: white;
}

.Frequancy .step.--current .step-position:before {
  background: #2eb3b7;
}

.Frequancy .step.--pending {
  background: inherit;
}

.Frequancy .step.--pending .step-check,
.Frequancy .step.--pending .step-label,
.Frequancy .step.--pending .step-arrow {
  display: none;
}

.Frequancy .step.--pending .step-number {
  display: block;
}

.Frequancy .step.--pending .step-position {
  color: #4f90cd;
}

.Frequancy .step.--pending .step-position:before {
  background: white;
}

@media (min-width: 769px) {
  .Frequancy .step-arrow {
    padding-right: 5px;
  }
  .Frequancy .step.--completed {
    padding-right: 10px;
  }
  .Frequancy .step.--completed:first-child {
    padding: 0 10px 0 16px;
  }
  .Frequancy .step.--completed .step-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Frequancy .step.--pending {
    background: inherit;
    padding-right: 10px;
  }
  .Frequancy .step.--pending .step-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Frequancy .step-arrow {
    background: #fff;
  }
}

.Frequancy .details .left, .Frequancy .details .right {
  background: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0 #ddd;
          box-shadow: 0 0 5px 0 #ddd;
}

.Frequancy .details .right h6 {
  text-transform: uppercase;
}

.Frequancy .details .right .title {
  padding: 10px;
}

.Frequancy .details .right .body {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.Frequancy .details .right .body h6 {
  font-size: 13px;
  color: #797777;
  letter-spacing: 1px;
  padding: 5px 0 10px 0;
  font-weight: 500;
}

.Frequancy .details .right .body .service p {
  font-weight: 300;
  color: #797777;
  font-size: 1rem;
  margin: 5px 0;
}

.Frequancy .details .right .Date, .Frequancy .details .right .address {
  border-bottom: 1px solid #ddd;
}

.Frequancy .details .right .Date .service, .Frequancy .details .right .address .service {
  padding: 15px 0;
}

.Frequancy .details .right .Date .service p, .Frequancy .details .right .address .service p {
  font-size: 13px;
  color: #797777;
  letter-spacing: 1px;
  padding: 5px 0 10px 0;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.Frequancy .details .right .price {
  border-top: none;
}

.Frequancy .details .right .price .service .total {
  color: #2eb3b7;
  font-weight: 500;
}

.Frequancy .Details .inner {
  min-height: 35%;
  max-height: 100%;
  padding: 20px 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: none;
}

.Frequancy .Details .inner ul {
  margin-top: 35px;
}

.Frequancy .Details .inner ul li {
  margin: 10px 0;
}

.Frequancy .Details .inner ul li input[type='radio'] {
  --active: rgb(46, 179, 183);
  --active-inner: #fff;
  --focus: 2px rgb(46, 179, 183);
  --border: #BBC1E1;
  --border-hover: rgb(46, 179, 183);
  --background: #fff;
  --disabled: #F6F8FF;
  --disabled-inner: #E1E6F9;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  -webkit-transition: background .3s, border-color .3s, -webkit-box-shadow .2s;
  transition: background .3s, border-color .3s, -webkit-box-shadow .2s;
  transition: background .3s, border-color .3s, box-shadow .2s;
  transition: background .3s, border-color .3s, box-shadow .2s, -webkit-box-shadow .2s;
}

.Frequancy .Details .inner ul li input[type='radio']:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: var(--active-inner);
  opacity: 0;
  -webkit-transform: scale(var(--s, 0.7));
          transform: scale(var(--s, 0.7));
}

.Frequancy .Details .inner ul li input[type='radio']:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: .3s;
  --d-t: .6s;
  --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}

.Frequancy .Details .inner ul li input[type='radio']:disabled {
  --b: var(--disabled);
  cursor: not-allowed;
  opacity: .9;
}

.Frequancy .Details .inner ul li input[type='radio']:disabled:checked {
  --b: var(--disabled-inner);
  --bc: var(--border);
}

.Frequancy .Details .inner ul li input[type='radio']:disabled + label {
  cursor: not-allowed;
}

.Frequancy .Details .inner ul li input[type='radio']:hover:not(:checked):not(:disabled) {
  --bc: var(--border-hover);
}

.Frequancy .Details .inner ul li input[type='radio']:focus {
  -webkit-box-shadow: 0 0 0 var(--focus);
          box-shadow: 0 0 0 var(--focus);
}

.Frequancy .Details .inner ul li input[type='radio']:not(.switch) {
  width: 21px;
}

.Frequancy .Details .inner ul li input[type='radio']:not(.switch):after {
  opacity: var(--o, 0);
}

.Frequancy .Details .inner ul li input[type='radio']:not(.switch):checked {
  --o: 1;
}

.Frequancy .Details .inner ul li input[type='radio'] + label {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 4px;
  margin-bottom: 0;
}

.Frequancy .Details .inner ul li input[type='radio']:checked {
  --s: .5;
}

.Frequancy .Details .inner ul li p {
  padding: 0 25px;
  font-size: 13px;
  color: #797777;
}

.Frequancy .Details .inner .date input {
  padding: 5px 15px;
  border: 1px solid #eee;
  margin: 15px 0;
  width: 450px;
}

@media all and (max-width: 769px) {
  .Frequancy .Details .inner .date input {
    width: 220px;
    margin-bottom: 40px;
  }
}

.Frequancy .Details button {
  padding: 5px 20px;
  border: none;
  background: #2eb3b7;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  position: absolute;
  bottom: 0%;
  right: 5%;
  transition: all .4s ease-in-out;
}

.Frequancy .Details button:hover {
  background: #132a2f;
}

.Frequancy .Details .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Frequancy .Details .Back {
  left: 5%;
}

.Frequancy .Details .Times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 25px 0;
}

.Frequancy .Details .Times .numbers .number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Frequancy .Details .Times .numbers .number:hover {
  background: #2eb3b7;
  color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Frequancy .Details .Times .approve {
  width: 150px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Frequancy .Details .Times .approve:hover {
  background: #2eb3b7;
  color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Frequancy .Details .Times .active {
  background: #2eb3b7;
  color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  text-align: center;
}

.Frequancy .Details .Times textarea {
  width: 500px;
  border-radius: 5px;
  height: 150px;
  resize: none;
  border: 1px solid #ddd;
  padding: 10px;
}

@media all and (max-width: 769px) {
  .Frequancy .Details .Times textarea {
    width: 100%;
  }
}

.Frequancy .Errors {
  display: none;
}

/*****************End Style Frequancy********************/
/*Styled model */
.modal ul li {
  padding: 10px;
  border: 1px solid #eee;
  cursor: pointer;
  margin: 10px 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.modal ul li:hover {
  background: #2eb3b7;
  color: #fff;
}

#myMap {
  height: 400px;
}

/* NOTE -----> Style footer and Navbar in GlobalSTyles File */
.datetimepicker {
  left: 170.5px !important;
  top: 403.281px !important;
}

.mapModel {
  position: relative;
}

.mapModel .modal-footer button {
  padding: 5px 20px;
  border: none;
  background: #2eb3b7;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
}

.mapModel .modal-body #myMap {
  margin-bottom: 15px;
}

.mapModel .modal-body .gmnoprint {
  display: none;
}

.mapModel .modal-body #searchInput {
  top: 10px !important;
  width: 70%;
  padding: 5px 10px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 5px 0 #ddd;
          box-shadow: 0 0 5px 0 #ddd;
  border-radius: 5px;
  height: 30px;
}

.mapModel .modal-body .DetailsBlock {
  margin: 0 10px;
}

.mapModel .modal-body .DetailsBlock input {
  font-size: 14px !important;
}

.mapModel .modal-body .DetailsBlock span {
  font-size: 12px !important;
  display: none;
}

.mapModel .ErrMessage {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 470px;
  padding: 15px;
  border-radius: 5px;
  height: 100px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 0 #797777;
          box-shadow: 0 0 5px 0 #797777;
  padding-bottom: 0;
  overflow: hidden;
}

.mapModel .ErrMessage .fa-times {
  position: absolute;
  right: 4%;
  cursor: pointer;
}

.mapModel .ErrMessage .msg h6 svg {
  margin: 0 5px;
}

.mapModel .ErrMessage span {
  display: block;
  background: red;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.pac-container {
  z-index: 99999 !important;
}
/*# sourceMappingURL=Booking.css.map */