a {
  text-decoration: none !important;
  color: #000;
}

/*SStyle Navbar*/
.upperNav {
  padding: 20px 0;
}

.upperNav .login img {
  margin: 0 10px;
}

.upperNav .login button {
  background: none;
  padding: 5px 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  color: rgba(0, 0, 0, 0.6) !important;
  text-transform: uppercase;
}

@media all and (max-width: 769px) {
  .upperNav .login button {
    padding: 5px 10px;
  }
}

/*End Style Upper nav*/
/*********************Start Footer Style*******************/
footer {
  background: #132a2f;
  padding-bottom: 20px;
}

footer .Tags {
  border-bottom: 1px solid #0000004d;
  padding: 30px 0;
}

footer .Tags .tag {
  color: #fff;
  background: #0000004d;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  padding: 10px 13px;
  margin: 10px 0;
  font-size: .8125rem;
  font-weight: 700;
  width: 160px;
}

footer .Tags .tag a {
  color: #fff;
}

footer .Tags .tag a:hover {
  color: #fff;
}

@media all and (max-width: 769px) {
  footer .Tags .tag {
    width: 120px;
  }
}

footer .Tags .row .col-4 {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottomFooter .left a {
  color: #fff;
  margin: 0 10px;
  font-size: 13px;
}

footer .bottomFooter .right a {
  color: #797777;
  margin: 0 10px;
  font-size: 13px;
}

footer .bottomFooter .right .colored {
  color: #2eb3b7;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

footer .bottomFooter .right .colored:hover {
  color: #fff;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

/*********************End Footer Style*******************/
/*Title Function*/
/*Start Style Navbar*/
.upperNav {
  background: #fff;
}

/****************Start Style Frequancy*****************************/
.Frequancy {
  background: #eff3f5;
  padding: 20px 0;
}

.Frequancy .selectAddress h6 {
  color: #132a2f;
  text-transform: uppercase;
  cursor: pointer;
}

.Frequancy .selectAddress h6 svg {
  margin: 0 5px;
}

.Frequancy .dotsSteps {
  width: 500px;
  margin: 30px 0;
}

.Frequancy .dotsSteps .inner .step .number {
  width: 25px;
  height: 25px;
  background: #0000004d;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
}

.Frequancy .dotsSteps .inner .step .activeNum {
  background: #000;
  font-weight: bold;
}

.Frequancy .dotsSteps .inner .step h6 {
  font-size: .8125rem;
  font-weight: 400;
  color: #797777;
  margin-top: 10px;
}

.Frequancy .dotsSteps .inner .line {
  height: 2px;
  width: 150px;
  background: #797777;
  margin: 10px 5px;
}

.Frequancy .details .left, .Frequancy .details .right {
  background: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0 #ddd;
          box-shadow: 0 0 5px 0 #ddd;
}

.Frequancy .details .right h6 {
  text-transform: uppercase;
}

.Frequancy .details .right .title {
  padding: 10px;
}

.Frequancy .details .right .body {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.Frequancy .details .right .body h6 {
  font-size: 13px;
  color: #797777;
  letter-spacing: 1px;
  padding: 5px 0 10px 0;
  font-weight: 500;
}

.Frequancy .details .right .body .service p {
  font-weight: 300;
  color: #797777;
  font-size: 1rem;
  margin: 5px 0;
}

.Frequancy .details .right .Date, .Frequancy .details .right .address {
  border-bottom: 1px solid #ddd;
}

.Frequancy .details .right .Date .service, .Frequancy .details .right .address .service {
  padding: 15px 0;
}

.Frequancy .details .right .Date .service p, .Frequancy .details .right .address .service p {
  font-size: 13px;
  color: #797777;
  letter-spacing: 1px;
  padding: 5px 0 10px 0;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.Frequancy .details .right .price {
  border-top: none;
}

.Frequancy .details .right .price .service .total {
  color: #2eb3b7;
  font-weight: 500;
}

/*****************End Style Frequancy********************/
/*# sourceMappingURL=Booking.css.map */