//Colors 
@import 'Colors';
//functions 
@import 'Functions';
//Global style
@import 'GlobalStyle';


/*Title Function*/
@mixin Title {
    font-size: 13px;
    color:$Grey;
    letter-spacing: 1px;
    padding: 5px 0 10px 0 ;
    font-weight: 500;
}


/*Start Style Navbar*/
.upperNav{
    background: $white;
}

/****************Start Style Frequancy*****************************/
.Frequancy{
    background: $LightBlue;
    padding: 20px 0;
    .selectAddress{
        h6{
            color:$DarkGreen;
            text-transform: uppercase;
            cursor: pointer;
        }
        svg {
            margin: 0 5px;
        }
    }
    .booking-steps {
        width: 100%;
        height: 45px;
        background: $white; 
        display: flex;
        margin: 15px 0;
        border-radius: 5px;
        overflow: hidden;
      }
      .step {
        
        height: 45px;
        color: #000;
        background: #d0cdcd;
        border: none;
        margin: 0;
        padding: 0;
        position: relative;
        display: inline-flex;
      }
      
      .step-label {
        
        height: inherit;
        display: flex;
        align-items: center;
        text-align: left;
        line-height: 1rem;
        padding-left: 5px;
        font-size: 12px
      }
      
      .step-position {
        
        color: white;
        width: auto;
        min-width: 34px;
        height: inherit;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 4px;
      }
      
      .step-position::before {
       
        content: '';
        width: 34px; 
        height: 34px;
        border-radius: 50px;
        background: $Sky;
        position: absolute;
        top: 6px;
        z-index: 0;
        border: 1px solid #ddd;
      }
      
      .step-number {
        
        font-size: 14px;
        z-index: 1;
      }
      
      .step-check {
      
        display: none;
        z-index: 1;
        font-size: 22px;
      }
      
       .step-arrow {
      
         border-left: 18px solid #d0cdcd; 
         border-top: 22px solid transparent; 
         border-bottom: 22px solid transparent; 
         background:$white;
      }
      
      
        .step.--completed {
          
          background: #cfcccc;
          
          & .step-check {
           
            display: block;
          }
          
          & .step-number,
          & .step-label,
          & .step-arrow { 
            
            display: none;
          }
          
          & .step-position {
        
            color: white;
            
            &:before {
              
              background: $Sky;
            }
          }
        }  
        
        .step.--current {
          
          background: #cfcccc;
          
          & .step-label {
            
            display: flex;
          }
          
          & .step-number,
          & .step-arrow {
            display: block;
            
          }
          
          & .step-check {
            
            display: none;
          }   
          
          & .step-position {
        
            color: white;
            
            &:before {
              
              background: $Sky;
            }
          }
        }
        
        .step.--pending {
          
          background: inherit;
          
          & .step-check,
          & .step-label,
          & .step-arrow {
           
            display: none;
          }
          
          & .step-number {
            
            display: block;
          }
          
           & .step-position {
        
            color: #4f90cd;
            
            &:before {
              
              background: white;
            }
          }
        }
      
      @media (min-width: 769px) {
       
        .step-arrow {
             padding-right: 5px;
        }
        
        .step.--completed {
          
          padding-right: 10px;
      
          &:first-child {
            
            padding: 0 10px 0 16px;
          }
          
          & .step-label {
           
            display: flex;
          }
        }  
        
        .step.--pending {
          
          background: inherit;
          padding-right: 10px;
          
          & .step-label {
           
            display: flex;
          }
        }
        .step-arrow{
            background: #fff;
        }
      }
    .details{
        .left , .right{
            background: $white;
            padding: 15px 25px;
            border-radius: 10px;
            box-shadow:  0 0 5px 0 #ddd;
        }
        .right{
            h6{text-transform: uppercase;}
            .title{
                padding:10px;
            }
            .body{
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                padding: 20px 0;
                h6{
                    @include Title();
                }
                .service{
                    p{
                        font-weight: 300;
                        color: $Grey;
                        font-size: 1rem;
                        margin: 5px 0;
                    }
                }
            }
            .Date , .address{
                border-bottom: 1px solid #ddd;
                .service{
                    padding: 15px 0;
                    p{
                        @include Title();
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            .price{
                border-top: none;
                .service{
                    .total{color:$Sky; font-weight: 500;}
                }
            }
        }
    }
    .Details{
        .inner{
            padding: 20px 25px;
            position: relative;
            @include FlexBox();
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            display: none;
            ul{
                margin-top: 35px;
                li{
                    margin: 10px 0;
                    input[type='radio'] {
                        --active: rgb(46, 179, 183);;
                        --active-inner: #fff;
                        --focus: 2px rgb(46, 179, 183);;
                        --border: #BBC1E1;
                        --border-hover: rgb(46, 179, 183);;
                        --background: #fff;
                        --disabled: #F6F8FF;
                        --disabled-inner: #E1E6F9;
                        border-radius: 50%;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        height: 21px;
                        outline: none;
                        display: inline-block;
                        vertical-align: top;
                        position: relative;
                        margin: 0;
                        cursor: pointer;
                        border: 1px solid var(--bc, var(--border));
                        background: var(--b, var(--background));
                        transition: background .3s, border-color .3s, box-shadow .2s;
                        &:after {
                            content: '';
                            display: block;
                            left: 0;
                            top: 0;
                            position: absolute;
                            transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
                            width: 19px;
                            height: 19px;
                            border-radius: 50%;
                            background: var(--active-inner);
                            opacity: 0;
                            transform: scale(var(--s, .7));
                        }
                        &:checked {
                          --b: var(--active);
                          --bc: var(--active);
                          --d-o: .3s;
                          --d-t: .6s;
                          --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
                        }
                        &:disabled {
                            --b: var(--disabled);
                            cursor: not-allowed;
                            opacity: .9;
                            &:checked {
                            --b: var(--disabled-inner);
                            --bc: var(--border);
                          }
                          & + label {
                            cursor: not-allowed;
                          }
                        }
                        &:hover {
                          &:not(:checked) {
                            &:not(:disabled) {
                              --bc: var(--border-hover);
                            }
                          }
                        }
                        &:focus {
                          box-shadow: 0 0 0 var(--focus);
                        }
                        &:not(.switch) {
                          width: 21px;
                          &:after {
                            opacity: var(--o, 0);
                          }
                          &:checked {
                            --o: 1;
                          }
                        }
                        & + label {
                          font-size: 14px;
                          line-height: 21px;
                          display: inline-block;
                          vertical-align: top;
                          cursor: pointer;
                          margin-left: 4px;
                          margin-bottom:0;
                        }
                          &:checked {
                            --s: .5;
                          }
                      }
                      p{
                          padding: 0 25px;
                          font-size: 13px;
                          color:$Grey;
                      }
                }
            }
            .date{
                input{
                    padding: 5px 15px;
                    border:1px solid #eee;
                    margin:15px 0 ;
                    width:450px;
                    @media all and (max-width:769px) {
                        width:290px;
                        margin-bottom:40px;
                    } 
                }
            }
        }
        button{
            @include Button();
            position:absolute;
            bottom:5%;
            right: 5%;
            transition: all .4s ease-in-out;
            &:hover{
                background:$DarkGreen;
            }
        }
        .active{
            display: flex;
        }
        //Second Questions
        .Times{
            @include FlexBox();
            flex-direction: column;
            align-items: flex-start;
            margin: 25px 0;
            .number{
                width:30px;
                height:30px;
                border-radius:50%;
                border:1px solid #ddd;
                @include FlexBox();
                margin: 0 10px;
                cursor: pointer;
                transition:all .5s ease-in-out;
                &:hover{
                    background:$Sky;
                    color:$white;
                    transition:all .5s ease-in-out;
                }
            }
            .approve{
                width:150px;
                margin-right: 10px;
                margin-top:10px ;
                text-align:center;
                padding: 8px 10px;
                border:1px solid #ddd;
                border-radius: 25px;
                cursor: pointer;
                transition:all .5s ease-in-out;
                &:hover{
                    background:$Sky;
                    color:$white;
                    transition:all .5s ease-in-out;
                }
            }
            textarea{
                width: 500px;
                border-radius:5px;
                height: 150px;
                resize: none;
                border:1px solid #ddd;
                padding: 10px;
            }
        }
    }
    .Errors{
      display: none;
    }
}

/*****************End Style Frequancy********************/

/*Styled model */
.modal{
    ul{
        li{
            padding:10px;
            border:1px solid #eee;
            cursor: pointer;
            margin: 10px 0;
            transition: all .4s ease-in-out;
            &:hover{
                background: $Sky;
                color:$white;
            }
        }
    }
}


/* NOTE -----> Style footer and Navbar in GlobalSTyles File */

//Date Picker Style
.datetimepicker{
    left:170.5px !important;
    top:403.281px !important;
}
//Map Model 
.mapModel{
  .modal-footer{
    button{
      @include Button();  
    }
  }
}