//Colors 
@import 'Colors';
//functions 
@import 'Functions';
//Global style
@import 'GlobalStyle';

/************************Start Style Dry Service*********************/
.Dry{
    /*Note ---> header Styled from GlobalStyle */
    .headerService{
        background: url('https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/images/uploads/services/1541948248laundry.png');
        background-position: center left;
    }
    //Stylle Prices Table
    .Prices{
        table{
            width: 100%;
            border: 1px solid #eee;
            box-shadow: 0 0 5px 0 $Grey;
            border-radius: 10px;
            overflow: hidden;
            text-align: center;
            margin: 30px 0;
            tr{
                border: 1px solid $Black;
                td , th{
                    border: 1px solid $Black;
                    padding: 15px;;
                }
            }
        }
        .bags{
            border-bottom: 1px solid #ddd;
            margin: 30px 0 ;
        }
        /*Style Questions Part */
        .Questions{
            padding-bottom: 25px;
            border-bottom: 1px solid #ddd;
            .card-header{
                .btn{
                    color:$DarkGreen !important;
                    font-weight: 500;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
            .card-body{
                color: grey;;
            }
        }
    }
    /*Style Carousel */
    .Services{
        margin: 30px 0;
        .title{
            h6{
                color:$Grey;
                font-size: 13px;;
            }
            h1{
                font-size: 22px;
                margin:10px 0 35px 0
            }
        }
        .owl-carousel{
            @include Carousel();
        }
    }
}
/************************End Style Dry Service*********************/
