//Colors 
@import 'Colors';
//functions 
@import 'Functions';
//Global style


//Style Links
a{
    text-decoration: none !important;
    color:#000;
}
*{
    scroll-behavior: smooth;
}
//Map Model 
.mapModel{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
/*SStyle Navbar*/
.upperNav{
    padding: 20px 0;
    border-bottom:  1px solid #eee;
    // .logo{
    //     a{
    //         img{
    //             width:150px !important;
    //             @media all and (max-width:769px) {
    //                 width:100% !important;
    //             }
    //         }
    //     }
    // }
    .login{
        img{
            margin: 0 10px;
        }
        button{
            background: none;
            padding: 5px 20px;
            border: 1px solid #ddd;
            border-radius: 25px;
            outline: none;
            color: rgba(0,0,0,.6)!important;
            text-transform: uppercase;
            @media all and (max-width:769px) {
                padding: 5px 10px;
            }
        }
    }
}
/*End Style Upper nav*/


/*********************Start Footer Style*******************/
footer{
    background:$DarkGreen ;
    padding-bottom: 20px;
    .Tags{
        border-bottom: 1px solid $Black;
        padding: 30px 0;
        a{
            color:$white;
            &:hover{color:$white;}
            .tag{
                color:$white;
                background: $Black;
                text-align: center;
                border-radius: 25px;
                font-size: 14px;
                padding: 10px 13px;
                margin: 10px 0;
                font-size: .8125rem;
                font-weight: 700;
                width:160px;
                cursor: pointer;
                transition: all .5s ease-in-out;
                @media all and (max-width:769px) {
                    width:120px;
                    font-size: 10px;
                }
                @media all and (max-width:320px){
                    width:100px;
                }
                &:hover{
                    background: $Sky;
                    transition: all .5s ease-in-out !important;
                    box-shadow:  0 0 5px 0 $Grey !important;
                }
            }
        }
        .row{
            .col-4{
                padding: 0;
                margin: 0;
                @include FlexBox();
            }
        }
    }
    .bottomFooter{
        .left{
            a{
                color: $white;
                margin: 0 10px ;
                font-size: 13px;
            }
        }
        .right{
            a{
                color: $Grey;
                margin: 0 10px;
                font-size: 13px;
            }
            .colored{
                color:$Sky;
                transition: all .6s ease-in-out;
                &:hover{
                    color:$white;
                    transition: all .6s ease-in-out;
                }
            }
        }
    }
}
/*********************End Footer Style*******************/

/*************************Start Service Page Style********** *************/

.url{
    a , svg{
        color:$Grey
    }
    margin: 15px 0;
}
.headerService{
    background: url('https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/images/uploads/services/1552580042shutterstock_772636024.jpg');
    width:100%;
    height:350px;
    background-size: cover;
    background-position: center;
    position: relative;
    color:$white;
    &::before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width:100%;
        height: 100%;
        background: rgba(0 ,0 ,0 ,.3);
        z-index: 1;
    }
    .title{
        z-index: 9999;
        position:absolute;
        bottom:10%;
        width:400px;
        @media all and (max-width:769px){
            width:91%;
        }
        h1{
            font-weight: 700;
            @media all and (max-width:769px){
                font-size: 28px;
            }
        }
        button{
            @include Button();
            font-weight: 500;
            &:hover{
                background: $Grey;
            }
        }
    }
}
.Details{
    padding: 30px 0;
    h1{font-weight: 700;}
    p{color:$Grey}
}
/*************************End Service Page Style********** *************/
/*********************Start Login Model Style*******************/
#LoginModel{
    .modal-content{
        max-width:400px;
    }
    .modal-body{
        form{
            h6{
                color:$Grey;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 13px;
            }
            input{
                @include INPUT();
            }
            .err{display: none;}
            .group{
                border: 1px solid #eee;
                border-radius: 5px;
                padding:10px;
                input{
                    border: none;
                    outline: none;
                }
            }
            .verficationNumber{
                display: none;
                input{
                    @include INPUT();
                    width:20%;
                    margin:0 5px;
                    border:1px solid #ddd;
                    outline: none;
                    border-radius: 5px;
                    padding: 10px;
                    margin-top: 15px;;
                }
            }
        }
    }
    .modal-footer{
        @include FlexBox();
        .btn{
            @include Button();
            width: 150px;
        }
        .continuebtn{
            display: none;
        }
    }
}

/*********************End login Style*******************/
/******************Start County Model *****************/
#CountryModel{
    .modal-dialog{width: 360px;}
    .Countries{
        .country{
            padding:10px;
            margin: 5px 0;
            text-transform: capitalize;
            color:$Grey;
            cursor: pointer;
            svg{
                display: none;
            }
        }
    }
    .modal-footer{
        button{
            @include Button();
            width:100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
/******************End County Model *****************/

/*Some style for Carprt service Bookgin */
.carpet  , .curtain{
    .left{
        .Size-Type{
            .size{
                margin: 18px 0;
                p{
                    margin: 0 15px !important;
                }
                input{
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    padding: 5px 10px;
                    outline: none;
                    transition: all .4s ease-in-out;
                    @include INPUT();
                    @media all and (max-width:769px) {
                        width:90px;
                    }
                }
            }
            .Err{
                display: none;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height:5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $Grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $Sky; 
  }
  /*Loading Style*/
#loading{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:#FBFBFB;
    z-index: 999999999;
    @include FlexBox();
    img{
        width:400px;
    }
}

//SCroll Button Style
.Scroll{
    position: fixed;
    bottom: 3%;
    right:2%;
    width:50px;
    height:50px;
    background:$DarkGreen;
    color:$white;
    border-radius: 50%;
    @include FlexBox();
    cursor: pointer;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 5px 0 $Grey;
    display: none;
    &:hover{
        transition: all .5s ease-in-out;
        background: $Sky;
    }
}

//Select Box Style
.select-box {
    position: relative;
    display: block;
    width: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
    
    @media (min-width: 768px) {
      width: 70%;
    }
    
    @media (min-width: 992px) {
      width: 50%;
    }
    
    @media (min-width: 1200px) {
      width: 70%;
    }
    
    &__current {
      position: relative;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
      cursor: pointer;
      outline: none;
      &:focus {
        & + .select-box__list {
          opacity: 1;
          animation-name: none;
          .select-box__option {
            cursor: pointer;
          }
        }
        
        .select-box__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    
    &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease;
    }
    
    &__value {
      display: flex;
    }
    
    &__input {
      display: none;
      
      &:checked + .select-box__input-text {
        display: block;
      }
    }
    
    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: 15px;
      background-color: #fff;
    }
    
    &__list {
        position: relative;
        width: 100%;
        padding: 0;
        list-style: none;
        box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
        display: none;
    }
    
    &__option {
      display: block;
      padding: 15px;
      background-color: #fff;
      transition: all .3s ease-in-out;
      &:hover,
      &:focus {
        color: $white;
        background-color: $Sky;
        transition: all .3s ease-in-out;
      }
    }
  }


@mixin Date {
    @include FlexBox();
    justify-content: flex-start;
    overflow:hidden;
    padding: 15px 0;
}
//Date Style
.Date{
    width:100%;
    .Days{
        @include Date();
        .Day{
            text-align:center;
            p{margin-bottom:2px;}
            span{
                @include SDATE();
            }
        }
    }
    .Hours{
        @include Date();
        p{
            @include SDATE();
            padding: 5px 30px;
            border-radius: 5px;
        }
    }
    .StayTime{
        @include Date();
        flex-direction: column;
        align-items: flex-start;
        .StayNum{
            text-align:center;
            @include FlexBox();
            justify-content: flex-start;
            span{
                @include SDATE();
            }
        }
    }
    .disabled{
        background: #999 !important;
        color: #ddd !important;
        cursor:no-drop !important;
        &:hover{
            background: #999 !important;
            color: #ddd !important;
        }
    }
    .active{
        background: $Sky;
        color:$white;
        transition: all .4s ease-in-out;
    }
    .rightAr{
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    .leftAr{
        position: absolute;
        left: 0;
        cursor: pointer;
    }
}