//Colors 
@import 'Colors';
//functions 
@import 'Functions';
//Global style
@import 'GlobalStyle';

/********************Start Header Style******************/
.Header{
    background: url('https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/static/hero-bg.webp');
    background-size: cover;
    background-position: center;
    height: 650px;
    position: relative;
    /*Covid div*/
    .covid{
        background: $LightBlue;
        padding: 15px 0;
        font-weight: bold;
        @media all and (max-width:769px){
            font-size: 13px;
        }
    }
    /*upper Nav*/
    .upperNav{
        padding: 20px 0;
        .login{
            img{
                margin: 0 10px;
            }
            button{
                background: none;
                padding: 5px 20px;
                border: 1px solid #ddd;
                border-radius: 25px;
                outline: none;
                color: rgba(0,0,0,.6)!important;
                text-transform: uppercase;
                @media all and (max-width:769px) {
                    padding: 5px 10px;
                }
            }
        }
    }
    .Title{
        height:calc(100% - 250px);
        span{
            font-size: .75rem;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        h1{
            margin: 25px 0;
            @media all and (max-width:769px) {
                font-size: 25px;
            }
        }
        button{
            @include Button();
            text-transform: uppercase;
            padding: 10px 50px;
            font-weight: 700;
            &:hover{
                background: $Grey;
                transition: all .4s ease-in-out;;
            }
        }
    }

    .HeaderBottom{
        background: url('https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/static/hero-bottom.svg');
        background-size: cover;
        position: absolute;
        bottom: 0;
        height: 80px;
        width: 100%;
    }
}
/**********************End Header Style*******************/
/*********************Start Carousel Style*******************/
.carousel{
    padding:50px 0;
    .title{
        margin: 30px 0;
    }
    .owl-carousel{
        @include Carousel();
    }
}
/*********************End Carousel Style*******************/
/*********************Start Why us Style*******************/
.whyUS{
    .title{
        text-align: center !important;
        @media all and (max-width:769px){
            h3{font-size: 24px;}
        }
    }
    .info{
        background: url('https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/static/love-justmop-bg.jpg');
        background-size:cover;
        background-position: center;
        padding:50px 0;
        margin-top: 30px;
        .LeftSide{
            p{color:$Grey}
            h3{
                margin: 30px 0;
                @media all and (max-width:769px) {
                    font-size: 20px;
                }
            }
            .subInfo{
                h4{
                    font-size: 20px;
                    @media all and (max-width:769px){
                        font-size: 18px;
                    }
                }
                p{
                    color: $Grey;
                    font-size: 15px;
                }
            }
        }
    }
}

/*********************End why us Style*******************/

/* NOTE -----> Style footer in GlobalSTyles File */

/*********************Start Model Style*******************/
.modal{
    .modal-content{
        max-width:400px;
    }
    .modal-body{
        form{
            h6{
                color:$Grey;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 13px;
            }
            .group{
                border: 1px solid #eee;
                border-radius: 5px;
                padding:10px;
                input{
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .modal-footer{
        @include FlexBox();
        .btn{
            @include Button();
            width: 150px;
        }
    }
}

/*********************End End Style*******************/
