a {
  text-decoration: none !important;
  color: #000;
}

* {
  scroll-behavior: smooth;
}

.mapModel {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*SStyle Navbar*/
.upperNav {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.upperNav .login img {
  margin: 0 10px;
}

.upperNav .login button {
  background: none;
  padding: 5px 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  color: rgba(0, 0, 0, 0.6) !important;
  text-transform: uppercase;
}

@media all and (max-width: 769px) {
  .upperNav .login button {
    padding: 5px 10px;
  }
}

/*End Style Upper nav*/
/*********************Start Footer Style*******************/
footer {
  background: #132a2f;
  padding-bottom: 20px;
}

footer .Tags {
  border-bottom: 1px solid #0000004d;
  padding: 30px 0;
}

footer .Tags a {
  color: #fff;
}

footer .Tags a:hover {
  color: #fff;
}

footer .Tags a .tag {
  color: #fff;
  background: #0000004d;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  padding: 10px 13px;
  margin: 10px 0;
  font-size: .8125rem;
  font-weight: 700;
  width: 160px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media all and (max-width: 769px) {
  footer .Tags a .tag {
    width: 120px;
    font-size: 10px;
  }
}

@media all and (max-width: 320px) {
  footer .Tags a .tag {
    width: 100px;
  }
}

footer .Tags a .tag:hover {
  background: #2eb3b7;
  -webkit-transition: all .5s ease-in-out !important;
  transition: all .5s ease-in-out !important;
  -webkit-box-shadow: 0 0 5px 0 #797777 !important;
          box-shadow: 0 0 5px 0 #797777 !important;
}

footer .Tags .row .col-4 {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottomFooter .left a {
  color: #fff;
  margin: 0 10px;
  font-size: 13px;
}

footer .bottomFooter .right a {
  color: #797777;
  margin: 0 10px;
  font-size: 13px;
}

footer .bottomFooter .right .colored {
  color: #2eb3b7;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

footer .bottomFooter .right .colored:hover {
  color: #fff;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

/*********************End Footer Style*******************/
/*************************Start Service Page Style********** *************/
.url {
  margin: 15px 0;
}

.url a, .url svg {
  color: #797777;
}

.headerService {
  background: url("https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/images/uploads/services/1552580042shutterstock_772636024.jpg");
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

.headerService::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.headerService .title {
  z-index: 9999;
  position: absolute;
  bottom: 10%;
  width: 400px;
}

@media all and (max-width: 769px) {
  .headerService .title {
    width: 91%;
  }
}

.headerService .title h1 {
  font-weight: 700;
}

@media all and (max-width: 769px) {
  .headerService .title h1 {
    font-size: 28px;
  }
}

.headerService .title button {
  padding: 5px 20px;
  border: none;
  background: #2eb3b7;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  font-weight: 500;
}

.headerService .title button:hover {
  background: #797777;
}

.Details {
  padding: 30px 0;
}

.Details h1 {
  font-weight: 700;
}

.Details p {
  color: #797777;
}

/*************************End Service Page Style********** *************/
/*********************Start Login Model Style*******************/
#LoginModel .modal-content {
  max-width: 400px;
}

#LoginModel .modal-body form h6 {
  color: #797777;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

#LoginModel .modal-body form input {
  /* Chrome, Safari, Edge, Opera */
}

#LoginModel .modal-body form input::-webkit-outer-spin-button, #LoginModel .modal-body form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

#LoginModel .modal-body form input:focus {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: 1px solid #2eb3b7;
}

#LoginModel .modal-body form .err {
  display: none;
}

#LoginModel .modal-body form .group {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}

#LoginModel .modal-body form .group input {
  border: none;
  outline: none;
}

#LoginModel .modal-body form .verficationNumber {
  display: none;
}

#LoginModel .modal-body form .verficationNumber input {
  /* Chrome, Safari, Edge, Opera */
  width: 20%;
  margin: 0 5px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
}

#LoginModel .modal-body form .verficationNumber input::-webkit-outer-spin-button, #LoginModel .modal-body form .verficationNumber input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

#LoginModel .modal-body form .verficationNumber input:focus {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: 1px solid #2eb3b7;
}

#LoginModel .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#LoginModel .modal-footer .btn {
  padding: 5px 20px;
  border: none;
  background: #2eb3b7;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  width: 150px;
}

#LoginModel .modal-footer .continuebtn {
  display: none;
}

/*********************End login Style*******************/
/******************Start County Model *****************/
#CountryModel .modal-dialog {
  width: 360px;
}

#CountryModel .Countries .country {
  padding: 10px;
  margin: 5px 0;
  text-transform: capitalize;
  color: #797777;
  cursor: pointer;
}

#CountryModel .Countries .country svg {
  display: none;
}

#CountryModel .modal-footer button {
  padding: 5px 20px;
  border: none;
  background: #2eb3b7;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/******************End County Model *****************/
/*Some style for Carprt service Bookgin */
.carpet .left .Size-Type .size, .curtain .left .Size-Type .size {
  margin: 18px 0;
}

.carpet .left .Size-Type .size p, .curtain .left .Size-Type .size p {
  margin: 0 15px !important;
}

.carpet .left .Size-Type .size input, .curtain .left .Size-Type .size input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  /* Chrome, Safari, Edge, Opera */
}

.carpet .left .Size-Type .size input::-webkit-outer-spin-button, .carpet .left .Size-Type .size input::-webkit-inner-spin-button, .curtain .left .Size-Type .size input::-webkit-outer-spin-button, .curtain .left .Size-Type .size input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.carpet .left .Size-Type .size input:focus, .curtain .left .Size-Type .size input:focus {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: 1px solid #2eb3b7;
}

@media all and (max-width: 769px) {
  .carpet .left .Size-Type .size input, .curtain .left .Size-Type .size input {
    width: 90px;
  }
}

.carpet .left .Size-Type .Err, .curtain .left .Size-Type .Err {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #797777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2eb3b7;
}

/*Loading Style*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #FBFBFB;
  z-index: 999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loading img {
  width: 400px;
}

.Scroll {
  position: fixed;
  bottom: 3%;
  right: 2%;
  width: 50px;
  height: 50px;
  background: #132a2f;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 0 0 5px 0 #797777;
          box-shadow: 0 0 5px 0 #797777;
  display: none;
}

.Scroll:hover {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background: #2eb3b7;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
}

@media (min-width: 768px) {
  .select-box {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .select-box {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .select-box {
    width: 70%;
  }
}

.select-box__current {
  position: relative;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.select-box__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-box__input {
  display: none;
}

.select-box__input:checked + .select-box__input-text {
  display: block;
}

.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}

.select-box__list {
  position: relative;
  width: 100%;
  padding: 0;
  list-style: none;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  display: none;
}

.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.select-box__option:hover, .select-box__option:focus {
  color: #fff;
  background-color: #2eb3b7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.Date {
  width: 100%;
}

.Date .Days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  padding: 15px 0;
}

.Date .Days .Day {
  text-align: center;
}

.Date .Days .Day p {
  margin-bottom: 2px;
}

.Date .Days .Day span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #eee;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin: 0 5px;
}

.Date .Days .Day span:hover {
  background: #2eb3b7;
  color: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.Date .Hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  padding: 15px 0;
}

.Date .Hours p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #eee;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin: 0 5px;
  padding: 5px 30px;
  border-radius: 5px;
}

.Date .Hours p:hover {
  background: #2eb3b7;
  color: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.Date .StayTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  padding: 15px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Date .StayTime .StayNum {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Date .StayTime .StayNum span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #eee;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin: 0 5px;
}

.Date .StayTime .StayNum span:hover {
  background: #2eb3b7;
  color: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.Date .disabled {
  background: #999 !important;
  color: #ddd !important;
  cursor: no-drop !important;
}

.Date .disabled:hover {
  background: #999 !important;
  color: #ddd !important;
}

.Date .active {
  background: #2eb3b7;
  color: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.Date .rightAr {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.Date .leftAr {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.Service {
  /*Note ---> header Styled from GlobalStyle */
  /*****************Services style********************/
}

.Service .Services {
  padding: 30px 0;
}

.Service .Services .title h6 {
  color: #797777;
  font-size: 13px;
}

.Service .Services .title h1 {
  font-size: 22px;
  margin: 10px 0 35px 0;
}

.Service .Services .owl-carousel {
  position: relative;
}

.Service .Services .owl-carousel .item .inner {
  text-align: center;
  background: #eff3f5;
  height: 300px;
  padding: 0 20px;
  border-radius: 5px;
  width: 230px;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.Service .Services .owl-carousel .item .inner:hover {
  background: #2eb3b7;
  color: #fff;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.Service .Services .owl-carousel .item .inner:hover button {
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  background-color: #fff;
  color: #2eb3b7;
}

.Service .Services .owl-carousel .item .inner img {
  width: 80px;
  margin: 20px 0;
}

.Service .Services .owl-carousel .item .inner button {
  padding: 5px 20px;
  border: none;
  background: #2eb3b7;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  padding: 5px 20px;
  border: 1px solid #2eb3b7;
}

@media all and (max-width: 769px) {
  .Service .Services .owl-carousel .item .inner {
    width: 280px;
  }
}

.Service .Services .owl-carousel .owl-next, .Service .Services .owl-carousel .owl-prev {
  position: absolute;
  top: 50%;
  right: -4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 0 grey;
          box-shadow: 0 0 5px 0 grey;
  color: #000;
  outline: none;
}

.Service .Services .owl-carousel .owl-next span, .Service .Services .owl-carousel .owl-prev span {
  font-size: 20px;
}

.Service .Services .owl-carousel .owl-next:hover span, .Service .Services .owl-carousel .owl-prev:hover span {
  color: #000;
}

.Service .Services .owl-carousel .owl-prev {
  left: -4%;
}

.Service .Details h1 {
  margin: 20px 0;
}

@media all and (max-width: 769px) {
  .Service .Details h1 {
    font-size: 23px;
  }
}
/*# sourceMappingURL=Service.css.map */