a {
  text-decoration: none !important;
  color: #000;
}

/********************Start Header Style******************/
.Header {
  background: url("https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/static/hero-bg.webp");
  background-size: cover;
  background-position: center;
  height: 650px;
  position: relative;
  /*Covid div*/
  /*upper Nav*/
}

.Header .covid {
  background: #eee;
  padding: 15px 0;
}

.Header .covid a {
  text-decoration: underline !important;
  font-weight: bold;
  margin: 0 5px;
}

@media all and (max-width: 769px) {
  .Header .covid {
    font-size: 13px;
  }
}

.Header .upperNav {
  padding: 20px 0;
}

.Header .upperNav .login img {
  margin: 0 10px;
}

.Header .upperNav .login button {
  background: none;
  padding: 5px 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  color: rgba(0, 0, 0, 0.6) !important;
  text-transform: uppercase;
}

@media all and (max-width: 769px) {
  .Header .upperNav .login button {
    padding: 5px 10px;
  }
}

.Header .Title {
  height: calc(100% - 180px);
}

.Header .Title span {
  font-size: .75rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Header .Title h1 {
  margin: 25px 0;
}

@media all and (max-width: 769px) {
  .Header .Title h1 {
    font-size: 25px;
  }
}

.Header .Title button {
  padding: 5px 30px;
  border: none;
  background: #2eb3b7;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  text-transform: uppercase;
}

.Header .Title button:hover {
  background: #797777;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.Header .HeaderBottom {
  background: url("https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/static/hero-bottom.svg");
  background-size: cover;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
}

/**********************End Header Style*******************/
/*********************Start Carousel Style*******************/
.carousel {
  padding: 50px 0;
}

.carousel .title {
  margin: 30px 0;
}

.carousel .owl-carousel {
  position: relative;
}

.carousel .owl-carousel .item .inner {
  text-align: center;
  background: #eff3f5;
  height: 300px;
  padding: 0 20px;
  border-radius: 5px;
  width: 230px;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.carousel .owl-carousel .item .inner:hover {
  background: #2eb3b7;
  color: #fff;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.carousel .owl-carousel .item .inner:hover button {
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  background-color: #fff;
  color: #2eb3b7;
}

.carousel .owl-carousel .item .inner img {
  width: 80px;
  margin: 20px 0;
}

.carousel .owl-carousel .item .inner button {
  padding: 5px 30px;
  border: none;
  background: #2eb3b7;
  color: #fff;
  border-radius: 25px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  padding: 5px 20px;
  border: 1px solid #2eb3b7;
}

@media all and (max-width: 769px) {
  .carousel .owl-carousel .item .inner {
    width: 280px;
  }
}

.carousel .owl-carousel .owl-next, .carousel .owl-carousel .owl-prev {
  position: absolute;
  top: 50%;
  right: -4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 0 grey;
          box-shadow: 0 0 5px 0 grey;
  color: #000;
  outline: none;
}

.carousel .owl-carousel .owl-next span, .carousel .owl-carousel .owl-prev span {
  font-size: 20px;
}

.carousel .owl-carousel .owl-next:hover span, .carousel .owl-carousel .owl-prev:hover span {
  color: #000;
}

.carousel .owl-carousel .owl-prev {
  left: -4%;
}

/*********************End Carousel Style*******************/
/*********************Start Why us Style*******************/
.whyUS .title {
  text-align: center !important;
}

@media all and (max-width: 769px) {
  .whyUS .title h3 {
    font-size: 24px;
  }
}

.whyUS .info {
  background: url("https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/static/love-justmop-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  margin-top: 30px;
}

.whyUS .info .LeftSide p {
  color: #797777;
}

.whyUS .info .LeftSide h3 {
  margin: 30px 0;
}

.whyUS .info .LeftSide .subInfo h4 {
  font-size: 20px;
}

.whyUS .info .LeftSide .subInfo p {
  color: #797777;
  font-size: 15px;
}

/*********************End why us Style*******************/
/*********************Start Footer Style*******************/
footer {
  background: #132a2f;
  padding: 20px 0;
}

footer .Tags {
  border-bottom: 1px solid #0000004d;
  margin: 30px 0;
  padding: 30px 0;
}

footer .Tags .tag {
  color: #fff;
  background: #0000004d;
  text-align: center;
  border-radius: 25px;
  font-size: 14px;
  padding: 5px 13px;
  margin: 10px 0;
  font-size: .8125rem;
  font-weight: 700;
  width: 160px;
}

footer .Tags .tag a {
  color: #fff;
}

footer .Tags .tag a:hover {
  color: #fff;
}

@media all and (max-width: 769px) {
  footer .Tags .tag {
    width: 120px;
  }
}

footer .bottomFooter .left a {
  color: #fff;
  margin: 0 10px;
  font-size: 13px;
}

footer .bottomFooter .right a {
  color: #797777;
  margin: 0 10px;
  font-size: 13px;
}

footer .bottomFooter .right .colored {
  color: #2eb3b7;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

footer .bottomFooter .right .colored:hover {
  color: #fff;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

/*********************End Footer Style*******************/
/*# sourceMappingURL=style.css.map */