//Colors 
$white:#fff;
$Sky:rgb(46, 179, 183);
$Grey:rgb(121, 119, 119);
$LightBlue :rgb(239, 243, 245);

//functions 
@mixin Button {
    padding: 5px 30px;
    border: none;
    background: $Sky;
    color: $white;
    border-radius: 25px;
    transition: all .4s ease-in-out;
    outline: none;
}

/********************Start Header Style******************/
.Header{
    background: url('https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/static/hero-bg.webp');
    background-size: cover;
    background-position: center;
    height: 550px;
    /*upper Nav*/
    .upperNav{
        padding: 20px 0;
        .login{
            img{
                margin: 0 10px;
            }
            button{
                background: none;
                padding: 5px 20px;
                border: 1px solid #ddd;
                border-radius: 25px;
                outline: none;
                color: rgba(0,0,0,.6)!important;
                text-transform: uppercase;
                @media all and (max-width:769px) {
                    padding: 5px 10px;
                }
            }
        }
    }
    .Title{
        height:calc(100% - 100px);
        span{
            font-size: .75rem;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        h1{
            margin: 25px 0;
            @media all and (max-width:769px) {
                font-size: 25px;
            }
        }
        button{
            @include Button();
            text-transform: uppercase;
            &:hover{
                background: $Grey;
                transition: all .4s ease-in-out;;
            }
        }
    }
}
/*********************End Header Style*******************/
/*********************Start Carousel Style*******************/
.carousel{
    padding:50px 0;
    .title{
        margin: 30px 0;
    }
    .owl-carousel{
        position: relative;
        .item{
            .inner{
                text-align: center;
                background: $LightBlue;
                height:300px;
                padding: 0 20px;
                border-radius: 5px;
                width: 230px;
                transition: all .6s ease-in-out;
                &:hover{
                    background: $Sky;
                    color: $white;
                    transition: all .6s ease-in-out;
                    button{
                        transition: all .6s ease-in-out;
                        background-color: $white;
                        color: $Sky;
                    }
                }
                img{
                    width:80px;
                    margin: 20px 0;
                }
                button{
                    @include Button();
                    padding: 4px 15px;
                    border: 1px solid $Sky;
                }
                @media all and (max-width:769px) {
                    width: 280px;
                }
            }
        }

        .owl-next , .owl-prev{
            position:absolute;
            top:50%;
            right: -4%;
            transform: translateY(-50%);
            background-color: $white !important;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow:  0 0 5px 0 grey;
            color: #000;
            outline: none;
            span{
                font-size: 20px;
            }
            &:hover{
                span{
                    color: #000;
                }
            }
        }
        .owl-prev{
            left: -4%;
        }
    }
}
/*********************End Carousel Style*******************/
