//Colors 
$white:#fff;
$Sky:rgb(46, 179, 183);
$Grey:rgb(121, 119, 119);
$LightBlue :rgb(239, 243, 245);
$DarkGreen:#132a2f;
$Black : #0000004d;
//functions 
@mixin Button {
    padding: 5px 30px;
    border: none;
    background: $Sky;
    color: $white;
    border-radius: 25px;
    transition: all .4s ease-in-out;
    outline: none;
}
//Global style
a{
    text-decoration: none !important;
    color:#000;
}

/********************Start Header Style******************/
.Header{
    background: url('https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/static/hero-bg.webp');
    background-size: cover;
    background-position: center;
    height: 650px;
    position: relative;
    /*Covid div*/
    .covid{
        background: #eee;
        padding: 15px 0;
        a{
            text-decoration: underline !important;
            font-weight: bold;
            margin: 0 5px;
        }
    }
    /*upper Nav*/
    .upperNav{
        padding: 20px 0;
        .login{
            img{
                margin: 0 10px;
            }
            button{
                background: none;
                padding: 5px 20px;
                border: 1px solid #ddd;
                border-radius: 25px;
                outline: none;
                color: rgba(0,0,0,.6)!important;
                text-transform: uppercase;
                @media all and (max-width:769px) {
                    padding: 5px 10px;
                }
            }
        }
    }
    .Title{
        height:calc(100% - 180px);
        span{
            font-size: .75rem;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        h1{
            margin: 25px 0;
            @media all and (max-width:769px) {
                font-size: 25px;
            }
        }
        button{
            @include Button();
            text-transform: uppercase;
            &:hover{
                background: $Grey;
                transition: all .4s ease-in-out;;
            }
        }
    }
    .HeaderBottom{
        background: url('https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/static/hero-bottom.svg');
        background-size: cover;
        position: absolute;
        bottom: 0;
        height: 80px;
        width: 100%;
    }
}
/**********************End Header Style*******************/
/*********************Start Carousel Style*******************/
.carousel{
    padding:50px 0;
    .title{
        margin: 30px 0;
    }
    .owl-carousel{
        position: relative;
        .item{
            .inner{
                text-align: center;
                background: $LightBlue;
                height:300px;
                padding: 0 20px;
                border-radius: 5px;
                width: 230px;
                transition: all .6s ease-in-out;
                &:hover{
                    background: $Sky;
                    color: $white;
                    transition: all .6s ease-in-out;
                    button{
                        transition: all .6s ease-in-out;
                        background-color: $white;
                        color: $Sky;
                    }
                }
                img{
                    width:80px;
                    margin: 20px 0;
                }
                button{
                    @include Button();
                    padding: 5px 20px;
                    border: 1px solid $Sky;
                }
                @media all and (max-width:769px) {
                    width: 280px;
                }
            }
        }

        .owl-next , .owl-prev{
            position:absolute;
            top:50%;
            right: -4%;
            transform: translateY(-50%);
            background-color: $white !important;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow:  0 0 5px 0 grey;
            color: #000;
            outline: none;
            span{
                font-size: 20px;
            }
            &:hover{
                span{
                    color: #000;
                }
            }
        }
        .owl-prev{
            left: -4%;
        }
    }
}
/*********************End Carousel Style*******************/
/*********************Start Why us Style*******************/
.whyUS{
    .title{
        text-align: center !important;
        @media all and (max-width:769px){
            h3{font-size: 24px;}
        }
    }
    .info{
        background: url('https://justcdn.s3.eu-central-1.amazonaws.com/prod/assets/static/love-justmop-bg.jpg');
        background-size:cover;
        background-position: center;
        padding:50px 0;
        margin-top: 30px;
        .LeftSide{
            p{color:$Grey}
            h3{
                margin: 30px 0;
            }
            .subInfo{
                h4{
                    font-size: 20px;
                }
                p{
                    color: $Grey;
                    font-size: 15px;
                }
            }
        }
    }
}

/*********************End why us Style*******************/
/*********************Start Footer Style*******************/
footer{
    background:$DarkGreen ;
    padding: 20px 0;
    .Tags{
        border-bottom: 1px solid $Black;
        margin: 30px 0;
        padding: 30px 0;
        .tag{
            color:$white;
            background: $Black;
            text-align: center;
            border-radius: 25px;
            font-size: 14px;
            padding: 5px 13px;
            margin: 10px 0;
            font-size: .8125rem;
            font-weight: 700;
            width:160px;
            a{
                color:$white;
                &:hover{color:$white;}
            }
            @media all and (max-width:769px) {
                width:120px;
            }
        }
    }
    .bottomFooter{
        .left{
            a{
                color: $white;
                margin: 0 10px ;
                font-size: 13px;
            }
        }
        .right{
            a{
                color: $Grey;
                margin: 0 10px;
                font-size: 13px;
            }
            .colored{
                color:$Sky;
                transition: all .6s ease-in-out;
                &:hover{
                    color:$white;
                    transition: all .6s ease-in-out;
                }
            }
        }
    }
}
/*********************End Footer Style*******************/
